/__pycache__
/entorno
/enntorno
*.apk
db.sqlite3
.pyc
.DS_Store
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.sqlite3
.env.db
.env.dev
/postgres_data
/static_volume
/RUIeServer/entorno
/RUIeServer/tmp